[mysqld]
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci

lower_case_table_names=0
symbolic-links=0
skip-character-set-client-handshake
sql_mode=STRICT_TRANS_TABLES
general_log=1
log_output=FILE,TABLE
max_allowed_packet = 32M
wait_timeout = 57600
general_log # 詳細ログ有効化
general_log_file=/dev/stdout  

[client]
default-character-set=utf8mb4

[mysqldump]
default-character-set=utf8mb4

[mysqld_safe]
log-error=/dev/stdout

